:root {
    --article-bg-color: #f5f6f7;
    --article-color: #000;
    --article-title: #000;
    --article-infor: #78818a;
    --icon-bg-color-red: #f3e3e4;
    --icon-bg-color-blue: #e8f4fd;
    --icon-bg-color-green: #dbf3ec;
    --icon-bg-color-yellow: #fff8e9;
    --icon-bg-color-purple: #ede5f7;
    --icon-bg-color-pink: #f3b9da69;
    --artcontent-h1-bg-color1: #03d7fd94;
    --artcontent-h1-bg-color2: #f5f6f7;
    --artcontent-h2-shadow-color: transparent;
    --artcontent-h3: #282c34;
    --artcontent-h4: #000;
    --h4-before1: #fff;
    --h4-before2: #fff;
    --h4-before3: #fff;
    --h4-before4: #fff;
    --artcontent-h5: #373d4d;
    --artcontent-strong: #1e4752;
    --artcontent-show-color: #000;
    --artcontent-show-bg-color: #dcdde1;
    --postnav-color: #5e7185;
    --setMenu-color: #fff;
    --setBtn-border: #01ccfffa;
    --setBtn-bg-color: #1db2f299;
}

:root.dark-theme {
    --article-bg-color: #2d2c2c;
    --article-color: #e3e3e3;
    --article-title: #eaeaea;
    --article-infor: #b6b6b6;
    --icon-bg-color-red: #000;
    --icon-bg-color-blue: #000;
    --icon-bg-color-green: #000;
    --icon-bg-color-yellow: #000;
    --icon-bg-color-purple: #000;
    --icon-bg-color-pink: #000;
    --artcontent-h1-bg-color1: #ffffffc2;
    --artcontent-h1-bg-color2: #2d2c2c;
    --artcontent-h2-shadow-color: #00c9fc;
    --artcontent-h3: #f0f0f0;
    --artcontent-h4: #e1dede;
    --h4-before1: #ff4757;
    --h4-before2: #25CCF7;
    --h4-before3: #32ff7e;
    --h4-before4: #ff65f6;
    --artcontent-h5: #e1dcdc;
    --artcontent-strong: #76e2ff;
    --artcontent-show-color: #fff;
    --artcontent-show-bg-color: #434446;
    --postnav-color: #3a94f4;
    --setBtn-border: #c8c4c48f;
    --setBtn-bg-color: transparent;
}

.set-btn-active,
.set-menu>li,
.set-menu>li:hover {
    background-color: #7d7d7d5e !important;
}

.huksy {
    background-image: url(/images/huskysprite10.png) !important;
}

.toc-wrapper {
    float: right;
    position: sticky;
    top: 5px;
    right: 0;
    width: 200px;
    color: #fff;
    box-sizing: border-box;
    transform: translateX(211px);
    transition: transform .5s linear;
    z-index: 30;
}

.toc-wrapper-active {
    transform: translateX(0px);
}

.toc-btn {
    width: 20px;
    height: 80px;
    position: absolute;
    left: -30px;
    top: 40px;
    transform: translateY(-50%);
    font-weight: 550;
    text-align: center;
    border-radius: 6px 0 0 6px;
    background-color: #00000085;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    cursor: var(--cursor-a);
}

.toc-box {
    position: absolute;
    right: 0;
    width: 200px;
    height: 224px;
    padding: 10px 5px;
    border-radius: 0 0 8px 8px;
    overflow-x: hidden;
    background-color: #00000085;
}

.toc {
    overflow-x: hidden;
    overflow-y: auto;
}

.toc-box::-webkit-scrollbar {
    width: 5px;
}

.toc-box::-webkit-scrollbar-thumb {
    background: linear-gradient(#01ffff, #16ff01);
    border-radius: 6px;
}

.toc-box::-webkit-scrollbar-track-piece {
    background-color: #626262;
}

.toc-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.toc-child {
    margin-left: 20px;
}


.set-menu {
    top: 255px;
}

.article {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
    line-height: 2;
    color: var(--article-color);
    background-color: var(--article-bg-color);
    border-radius: 5px;
    box-shadow: 3px 0 8px rgb(237, 241, 243), 0px 0 4px rgb(224, 241, 245);
    overflow: hidden;
}

/*新增*/
.article .title {
    margin: 0 auto;
    padding: 0 8px 4px;
    width: fit-content;
    color: var(--article-title);
    text-align: center;
    font-size: 22px;
}

/*字数、发布时间*/
.article .art-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    color: var(--article-infor);
    border-bottom: 2px dashed rgb(233, 219, 142);
}

.article .art-info div span {
    display: inline-block;
    margin-left: 5px;
}

.article .art-info span .icon-riqi {
    color: #00c9fc;
}

.article .art-info span .icon-zishu-jzl {
    color: #3b32ff;
}

.article .art-info span .icon-zuixinnew3 {
    color: #fa3636;
}

.article .art-info span .icon-shijian {
    color: #ffc965;
}

.article .art-info .iconfont {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 5px;
}

.art-content {
    content-visibility: auto;
    contain-intrinsic-block-size: auto 1000px;
    box-sizing: border-box;
    font-size: 16px;
}

/*告示栏，有四种样式，蓝色引号引用，黄色灯泡启迪，红色感叹号警示，绿色气球，紫色风车*/
.art-content .broadcast {
    position: relative;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .6rem 16px .5rem 32px;
    border-radius: 4px;
    background-color: #f6f6f6;
    border-left: 4px solid #767676;
}

.art-content .broadcast a {
    word-break: break-word;
}

.art-content .color-red,
.art-content .color-red>.icon-gantanhao {
    background-color: var(--icon-bg-color-red);
    border-color: #ff7675;
    color: #fa3636;
}

.art-content .color-red>.icon-gantanhao {
    font-size: 20px;
}

.art-content .color-blue,
.art-content .broadcast>.icon-yinhao {
    background-color: var(--icon-bg-color-blue);
    border-color: #2196f3;
    color: #3c8cff;
}

.art-content .color-green {
    background: var(--icon-bg-color-green);
    border-color: #2ed573;
    color: #00da21;
}

.art-content .broadcast>.icon-qiqiu {
    font-size: 20px;
    color: #4dff68;
}

.art-content .color-yellow,
.art-content .broadcast>.icon-dengpao14hao {
    background: var(--icon-bg-color-yellow);
    border-color: #ffbd2b;
    color: #ffbd2b;
}

.art-content .broadcast>.icon-dengpao14hao {
    font-size: 22px;
}

.art-content .color-purple,
.art-content .broadcast>.icon-fengche {
    background: var(--icon-bg-color-purple);
    border-color: #990af8;
    color: #990af8;
}

.art-content .broadcast>.icon-fengche {
    font-size: 22px;
    color: #990af89b;
}

.art-content .color-pink {
    background: var(--icon-bg-color-pink);
    border-color: #FC427B;
    color: #FC427B;
}

.art-content .broadcast>.icon-yinle1 {
    font-size: 22px;
    color: #FC427B;
}

/*文章小标题*/
.art-content h1 {
    position: relative;
    width: 80%;
    font-size: 21px;
    letter-spacing: 4px;
    padding: 2px 15px;
    margin: 20px 0 12px 0;
    transform: translateX(-11px);
    background: linear-gradient(to right, var(--artcontent-h1-bg-color1), var(--artcontent-h1-bg-color2));
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}

.art-content h1:hover {
    transform: translateX(-4px);
}

.art-content h1::before,
.article h1::after {
    content: '';
    position: absolute;
    top: 14%;
    left: -8px;
    width: 8px;
    height: 7px;
    background-color: var(--artcontent-h1-bg-color1);
}

.art-content h1::after {
    top: 62%;
}
@keyframes H2-rotate{
    0%{
        transform: rotate(0);
    }
    10%,100%{
        transform: rotate(360deg);
    }
}
.art-content h2{
    position: relative;
    margin: 20px 0 5px 27px;
    font-size: 24px;
}

.H2-icon-container{
    position: absolute;
    width: 0;
    height: 0;
    top: 27px;
    left: -20px;
}
.art-content h2:hover>.H2-icon-container{
    animation:  H2-rotate 5s linear infinite;
}
.H2-icon-container .H2-icon-box{
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #00c9fc;
    box-shadow: 0 0 4px var(--artcontent-h2-shadow-color),
    0 0 6px var(--artcontent-h2-shadow-color);
}
.H2-icon-box::before,
.H2-icon-box::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 13px;
    background:linear-gradient(to bottom,#52cbfc,#fff0);
}
.H2-icon-box::before{
    top: -1px;
    left: -3px;
    transform: rotateZ(30deg);
}
.H2-icon-box::after{
    top: -1px;
    left: 3px;
    transform: rotateZ(-30deg);
}
.H2-icon-container .H2-icon-box1{
    top: -14px;
    left: 0;
}
.H2-icon-container .H2-icon-box2{
    top: -3px;
    left: -7px;
    transform: rotateZ(-120deg); 
}
.H2-icon-container .H2-icon-box3{
    top:-3px;
    left: 7px;
    transform: rotateZ(120deg); 
}

.art-content h3 {
    position: relative;
    margin: 20px 0 5px 30px;
    font-size: 22px;
    font-weight: 600;
    color: var(--artcontent-h3);
    transition: all .5s ease;
}

.art-content h2 + h3{
    margin: -8px 0 5px 30px;  
}

.art-content h3::before {
    content: '#';
    position: absolute;
    top: -10px;
    left: -30px;
    font-size: 30px;
    color: #00c9fc;
    margin-right: 10px;
    transition: all 1s linear;
}

.art-content h3:hover {
    transform: translateX(5px);
}

.art-content h4 {
    position: relative;
    margin-left: 16px;
    margin-top: 10px;
    color: var(--artcontent-h4);
    font-size: 19px;
}
.art-content h3 + h4{
    margin-top: 0px;
}
.art-content h4::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -15px;
    width: 7px;
    height: 80%;
}

.art-content h4:nth-of-type(4n+1)::before {
    background: linear-gradient(to right, #ff4757, var(--h4-before1));
    box-shadow: 0 0 6px var(--h4-before1),
        2px 6px 10px var(--h4-before1),
        -2px -6px 10px var(--h4-before1);
}

.art-content h4:nth-of-type(4n+2)::before {
    background: linear-gradient(to right, #25CCF7, var(--h4-before2));
    box-shadow: 0 0 6px var(--h4-before2),
        2px 6px 10px var(--h4-before2),
        -2px -6px 10px var(--h4-before2);
}

.art-content h4:nth-of-type(4n+3)::before {
    background: linear-gradient(to right, #32ff7e, var(--h4-before3));
    box-shadow: 0 0 6px var(--h4-before3),
        2px 6px 10px var(--h4-before3),
        -2px -6px 10px var(--h4-before3);
}

.art-content h4:nth-of-type(4n+4)::before {
    background: linear-gradient(to right, #ff65f6, var(--h4-before4));
    box-shadow: 0 0 6px var(--h4-before4),
        2px 6px 10px var(--h4-before4),
        -2px -6px 10px var(--h4-before4);
}

.art-content h5 {
    position: relative;
    margin: 14px 0 0 13px;
    font-size: 17px;
    color: var(--artcontent-h5);
}

/* .art-content h5::before,
.art-content h5::after {
    content: '';
    position: absolute;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotateZ(15deg);
}

.art-content h5::before {
    top: 3px;
    left: -13px;
    border-bottom: 15px solid #00c9fc;
}

.art-content h5::after {
    top: 17px;
    left: -12px;
    border-top: 15px solid #00c9fc;
} */

.art-content h6 {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
}

.art-content>p {
    text-indent: 2em;
    word-wrap: break-word;
}

.art-content ul,
.art-content ol {
    width: 90%;
    margin: 8px 0 0 30px;
    line-height: 30px;
}

.art-content ul li {
    width: 100%;
    list-style: disc;
    margin-bottom: 5px;
    line-height: 31px;
}

.art-content ol li {
    width: 100%;
    list-style-type: decimal;
    font-family: sans-serif;
}

.art-content .code {
    /*自定义的代码块，无高亮*/
    width: 90%;
    height: max-content;
    padding: 0 20px;
    margin: 4px 0px 4px 10px;
    white-space: pre;
    background-color: #282c34;
    color: #abb2bf;
    overflow-x: auto;
    overflow-y: hidden;
}

/* 内容收起 */
.art-content .content-folded {
    position: relative;
    height: 200px;
    text-indent: 2em;
    border: 2px dashed #02b1ff7a;
    transition: height .5s linear;
    overflow: hidden;
}

.art-content .unfolded {
    border-color: transparent;
    border-bottom: 2px dashed #39f7b9;
}

.art-content .content-folded .fold-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 10px;
    line-height: 66px;
    background: linear-gradient(to bottom, transparent, #33c6eb);
    cursor: var(--cursor-a);
}

.art-content .content-folded .fold-btn-unfolded {
    position: relative;
    width: 80px;
    height: 30px;
    float: right;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0;
    text-indent: 0;
    background-image: linear-gradient(68.4deg, rgba(99, 251, 215, 1) -0.4%, rgba(5, 222, 250, 1) 100.2%);
    border-radius: 5px;
}

.art-content .strong {
    /*行内块元素，代码、指令加粗*/
    color: var(--artcontent-strong);
    font-weight: 800;
    margin: 0 8px;
}

.art-content .api-block {
    /*块元素，保留语法格式，指令加粗*/
    color: var(--artcontent-strong);
    font-weight: 800;
    white-space: pre-wrap;
    margin: 0 25px;
}

.art-content .tips {
    /*行内块元素，带背景色、字体色的行内提示*/
    padding: 2px 4px;
    background: rgba(27, 31, 35, .05);
    color: #f48266;
}

.art-content .text-red {
    font-weight: 800;
    color: #f48266;
    margin: 0 8px;
}

.art-content .text-blue {
    font-weight: 800;
    color: #3498db;
    margin: 0 8px;
}

.art-content .text-green {
    font-weight: 800;
    color: #2ecc71;
    margin: 0 8px;
}

.art-content .text-yellow {
    font-weight: 800;
    color: #fbc531;
    margin: 0 8px;
}

.art-content .formula {
    /*块级元素，用于展示公式*/
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

.art-content .show {
    /*块级元素，用于展示代码结果*/
    width: 90%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    margin: 15px 0px 15px 10px;
    padding: 0px 20px;
    color: var(--artcontent-show-color);
    background-color: var(--artcontent-show-bg-color);
    border: 1px solid #c8cfd6;
}

.art-content .show p {
    text-indent: 2em;
}

.art-content .show table {
    background-color: var(--article-bg-color);
}

.art-content .show .text-red,
.art-content .show .text-blue,
.art-content .show .text-green,
.art-content .show .text-yellow {
    margin: 0 0;
}

.art-content .shell {
    /*块级元素，用于展示终端数据*/
    width: 90%;
    white-space: pre;
    margin: 15px 0px 15px 10px;
    padding: 0 20px;
    background-color: #0c0c0c;
    color: #c0c7cd;
    border: 1px solid #c8cfd6;
    overflow-x: auto;
}

/*
* 普通表格，有边框，用于归纳数据
*/
.table {
    overflow-x: auto;
    margin: 10px 0 20px;
}

.table table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
}

.table table thead {
    background: rgba(153, 169, 191, .1);
}

.table table td,
.table table th {
    padding: 6px 12px;
    border: 1px solid #dbd7d7;
    vertical-align: middle;
    text-align: center;
}

/*
* 无边框表格，用于对齐数据
*/
.show .table-show {
    background-color: var(--artcontent-show-bg-color);
}

.table-show {
    overflow-x: auto;
}

.show .table-show table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    background-color: var(--artcontent-show-bg-color);
}

.table-show table th {
    text-align: start;
    font-weight: normal;
}

.img-wrapper>img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px auto;
    min-height: 150px;
}

.load-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 150px;
    background-color: var(--article-bg-color);
}

@keyframes imgLine {

    0%,
    100% {
        height: 60px;
    }

    50% {
        height: 10px;
    }
}

.load-line {
    width: 7px;
    height: 60px;
    border-radius: 5px;
    margin: 0 10px;
    animation: imgLine 1s linear infinite;
}

.load-line:nth-child(1) {
    background-color: #05f661;
}

.load-line:nth-child(2) {
    background-color: #05eef6;
    animation-delay: .2s;
}

.load-line:nth-child(3) {
    background-color: #f605ca;
    animation-delay: .4s;
}

.load-text {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%);
    color: #07b3f2;
    font-size: 18px;
}

@keyframes point-text1 {

    0%,
    19% {
        opacity: 0;
    }

    20%,
    100% {
        opacity: 1;
    }
}

@keyframes point-text2 {

    0%,
    39% {
        opacity: 0;
    }

    40%,
    100% {
        opacity: 1;
    }
}

@keyframes point-text3 {

    0%,
    59% {
        opacity: 0;
    }

    60%,
    100% {
        opacity: 1;
    }
}

.point-text {
    letter-spacing: -4px;
}

.point-text:nth-child(2) {
    animation: point-text1 1.5s linear infinite;
}

.point-text:nth-child(3) {
    animation: point-text2 1.5s linear infinite;
}

.point-text:nth-child(4) {
    animation: point-text3 1.5s linear infinite;
}

/*下一页按钮*/
.post-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
    width: 80%;
}

.post-nav div {
    position: relative;
    margin-top: 0px;
    padding: 7px 10px;
}

.post-nav a {
    font-size: 17px;
    color: var(--postnav-color);
}

.post-nav div::before,
.post-nav div::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    background-color: #00c9fc;
    transition: width .5s linear;
}

.post-nav div::before {
    left: 50%;
}

.post-nav div::after {
    right: 50%;
}

.post-nav div:hover::before,
.post-nav div:hover::after {
    width: 50%;
}

/*睡觉熊*/
.container {
    margin: 20px auto;
    position: relative;
    height: 230px;
    width: 20%;
    box-sizing: border-box;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 0px;
    width: 80%;
    height: 8px;
    background-color: burlywood;
    border-radius: 50%;
}

.container div {
    position: absolute;
}

.container div::before,
.container div::after {
    content: '';
    display: block;
    position: absolute;
}

.big-head {
    background-color: #A78A7F;
    height: 35px;
    width: 76px;
    bottom: 32px;
    left: 8px;
    border-radius: 100%;
}

.big-head::before {
    height: 61px;
    width: 61px;
    left: 26px;
    bottom: 0px;
    border-radius: 90% 50% 90% 90%;
    transform: rotate(226deg);
    background-color: #594a41;
    z-index: 1;
}

.ears {
    height: 21px;
    width: 21px;
    border-radius: 100%;
    left: 53px;
    top: 123px;
    box-shadow: 17px -2px 0 0 #594a41;
    background-color: #594a41;
}

.body {
    height: 75px;
    width: 165px;
    left: 47px;
    bottom: 29px;
    border-radius: 50%;
    background: #594a41;
}

.paws-front {
    height: 25px;
    width: 50px;
    bottom: 27px;
    left: 73px;
    border-radius: 80% 22% 55% 50% / 55% 22% 80% 50%;
    transform: rotate(11deg);
    background: #A78A7F;
    z-index: 1;
}

.paws-back {
    height: 26px;
    width: 50px;
    bottom: 29px;
    left: 153px;
    border-top-left-radius: 100%;
    background: #A78A7F;
    z-index: 2;
}

.paws-back::after {
    height: 26px;
    width: 25px;
    border-radius: 100%;
    left: 34px;
    background: #A78A7F;
}

.details {
    width: 13px;
    height: 13px;
    left: 5px;
    bottom: 52px;
    border-radius: 100%;
    box-shadow: 58px 0 0 #AD5D4E;
    z-index: 20;
    background: #221e22;
}

.details::after {
    width: 11px;
    height: 11px;
    border-bottom: 3px solid #221e22;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 100%;
    left: 35px;
    top: -18px;
    z-index: 20;
}

.tail {
    height: 25px;
    width: 25px;
    background: #594a41;
    border-radius: 100%;
    left: 186px;
    top: 127px;
}

.sleep {
    height: 90px;
    width: 80px;
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 34px;
}

.sleep span {
    display: block;
    width: 15px;
    height: 10px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    background: #221e22bb;
    animation: zz 3s linear infinite;
}

.sleep .s1 {
    margin-left: 71px;
    margin-top: 50px;
}

.sleep .s2 {
    margin-left: 36px;
    margin-top: -8px;
}

.sleep .s3 {
    margin-left: -5px;
    margin-top: -7px;
}

.sleep .s4 {
    margin-left: -43px;
    margin-top: 15px;
}

.sleep .s5 {
    margin-left: -53px;
    margin-top: 28px;
}

@keyframes zz {
    0% {
        opacity: 0;
        transform: scale3d(.2, .2, .2) rotate(-20deg);
    }

    50% {
        opacity: 1;
    }

    80% {
        transform: translateY(-30px) translateX(20px) rotate(10deg);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

pre {
    position: relative;
    margin: 10px 0 15px 0px;
    padding: 5px 10px;
    background-color: #353535;
    color: #d3d3d3;
    border-radius: 6px;

}

pre::selection {
    color: red;
    background-color: #00c9fc;
}

pre>span {
    position: absolute;
    right: 5px;
    top: -3px;
    padding: 0px 6px;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(14, 231, 249);
    text-shadow: 1px 1px 2px rgba(14, 144, 249), 1px 1px 2px rgba(14, 144, 249);
    background-color: rgba(61, 53, 53, 0.01);
    cursor: var(--cursor-a);
}

/* for block of numbers */
.hljs-ln-numbers {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    vertical-align: top;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}

.copyBox {
    position: absolute;
    visibility: hidden;
}


@media screen and (max-width:1100px) {
    .container {
        width: 40%;
    }

    .article {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {

    .set-menu .setBtn,
    .set-menu>li,
    .set-menu>li:hover {
        background-color: #7d7d7d5e !important;
    }

    .pen {
        background-size: 60% 60%;
        background-repeat: no-repeat;
    }

    .article .art-info {
        font-size: 12px;
    }

    .article .art-info div span {
        margin-left: 0px;
    }

    .article {
        width: 100%;
    }

    .art-content .code {
        width: 100%;
        margin-left: 0px;
        word-wrap: normal;
        overflow-x: auto;
    }

    .art-content .show {
        padding: 0 10px;
    }

    .art-content img {
        width: 95%;
        height: 95%;
    }

    .post-nav {
        flex-direction: column;
        font-size: 18px;
        align-items: flex-start;
    }

    .container {
        width: 70% !important;
    }

}