/*
 * @Author: SHIWIVI
 * @Date: 2021-03-16 15:55:11
 * @Last Modified by: SHIWIVI
 * @Last Modified time: 2024-06-07 15:58:35
 */
 
:root {
    --cursor-a: url(../images/link.cur), pointer;
    --body-bg: linear-gradient(to bottom, #0cb8fc, #eaeff0);
    --nav-bg-pc: #ffffff18;
    --nav-bg-mobile: linear-gradient(to bottom, #0cb8fc, #eaeff0);
    --nav-flow-color: #fff;
    --menu-line-box-shadow: transparent;
    --card-text: #fff;
    --card-text-shadow: transparent;
    --label-border: #ffffff70;
    --label-box-shadow: #fff;
    --label-text-shadow: transparent;
    --label-bg-color: #ffffff2f;
    --label-text-color: #fff;
    --tag-bg-color: #fff;
    --rss-tag-color: #ff8181;
    --rss-text-shadow: transparent;
    --motto-color: #fff;
    --motto-text-shadow: transparent;
    --update-content-h1: #0a0101;
    --update-content-p: #2b2424;
    --update-focus-border: #fff;
    --update-bg-color: #f5f0f033;
    --update-box-shadow: transparent;
    --update-li-blur: blur(3px);
    --set-menu-color: #000;
    --set-btn-border: #ffffff70;
    --set-btn-bg-color: #ffffff33;
    --info-color: #9b999d;
}

:root.dark-theme {
    --body-bg: linear-gradient(to bottom, #000 0%, #000 30%, #200543 100%);
    --nav-bg-pc: transparent;
    --nav-bg-mobile: linear-gradient(to bottom, #000 0%, #000 30%, #200543 100%);
    --nav-flow-color: #0cc9f3;
    --menu-line-box-shadow: #11eeee;
    --card-text: #53c6ff;
    --card-text-shadow: #53c6ff;
    --label-border: #ffffff70;
    --label-box-shadow: #2c5ef1;
    --label-bg-color: #2173ce2f;
    --label-text-shadow: #0e7df3;
    --label-text-color: #45f4ff;
    --tag-bg-color: #201d1d;
    --rss-tag-color: #ff8181;
    --rss-text-shadow: #ff8181;
    --motto-color: #45f4ff;
    --motto-text-shadow: #45f4ff;
    --update-content-h1: #ffffff;
    --update-content-p: #ffffff;
    --update-focus-border: #fff;
    --update-bg-color: #71c0e730;
    --update-box-shadow: #4d5051a8;
    --update-li-blur: blur(0px);
    --set-menu-color: #fff;
    --set-btn-border: #01ccfffa;
    --set-btn-bg-color: #1db2f299;
    --info-color: #d5d5d5;
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: rgb(0 216 238);
    color: #0247fb;
    cursor: url(../images/selection.cur), auto;
}

input[type=search],
textarea {
    cursor: url(../images/selection.cur), auto;
}

ul,
ol,
li {
    list-style: none;
}

a,
label {
    text-decoration: none;
    cursor: var(--cursor-a);
}

html {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 16px;
    }
}

html::before,
html::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -100;
}

.html-load-theme::before,
.html-load-theme::after {
    transition: opacity 1s linear;
}

html::before {
    background: linear-gradient(to bottom, #0cb8fc, #eaeff0);
    opacity: 1;
}

html::after {
    background: linear-gradient(to bottom, #000 0%, #000 30%, #200543 100%);
    opacity: 0;
}

html.dark-theme::before {
    opacity: 0;
}

html.dark-theme::after {
    opacity: 1;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: var(--body-bg);
    overflow-x: hidden;
    cursor: url(../images/normal.cur), auto;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 2602916 */
    src: url('https://at.alicdn.com/t/font_2602916_zy5x7j996xd.woff2?t=1630093660324') format('woff2'),
        url('https://at.alicdn.com/t/font_2602916_zy5x7j996xd.woff?t=1630093660324') format('woff'),
        url('https://at.alicdn.com/t/font_2602916_zy5x7j996xd.ttf?t=1630093660324') format('truetype');
}

#canvas-high-res,
#canvas-low-res{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes nav-flow {
    0% {
        background-position: right -350px;
    }

    20%,
    100% {
        background-position: right 200%;
    }
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 60;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 117px;
    width: 12rem;
    height: 100vh;
    background: var(--nav-bg-pc);
    transition: left .5s ease;
}

.nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--nav-flow-color), #fff0) right / 2px 350px no-repeat;
    animation: nav-flow 6s linear infinite;
    z-index: -1;
}

.left-move {
    position: absolute !important;
    left: -200% !important;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    width: 100%;
}

.card:hover {
    background: url(../images/caidai.gif);
    background-size: 100% 100%;
}

.head {
    margin: 0 auto;
    z-index: -1;
}

.head img {
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    color: var(--card-text);
    text-shadow: 1px 1px 8px var(--card-text-shadow),
        -1px -1px 8px var(--card-text-shadow);
}


.label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label li {
    height: 5vh;
    min-height: 32px;
    width: 100%;
    transition: width .5s;
}

.label li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 1.3em;
    letter-spacing: 1.5em;
    color: #fff;
}

.label li a::after {
    font-family: "iconfont" !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    transition: opacity .5s linear;
    font-size: 1.3em;
    font-style: normal;
    -webkit-text-stroke-width: 0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.label li:nth-child(1) a::after {
    content: '\e609';
}

.label li:nth-child(2) a::after {
    content: '\e6c9';
}

.label li:nth-child(3) a::after {
    content: '\e62e';
}

.label li:nth-child(4) a::after {
    content: '\e624';
}

.label li:nth-child(5) a::after {
    content: '\e602';
}

.label li:hover {
    letter-spacing: 2em;
    width: 110%;
    border: 1px solid var(--label-border);
    background-color: var(--label-bg-color);
    text-shadow: 0 0 4px var(--label-text-shadow),
        -2px -2px 8px var(--label-text-shadow),
        2px 2px 8px var(--label-text-shadow);
    box-shadow: 0 0 2px var(--label-box-shadow),
        -1px -1px 8px var(--label-box-shadow);
    /* box-shadow: 0 0 2px #265183, -1px -1px 8px #2c5ef1; 夜间模式备案配色*/
}

.label li:hover a {
    color: var(--label-text-color);
}

.label li:hover a::after {
    opacity: 1;
}

/* 标签 */
.tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    width: 90%;
    padding: 10px 3px;
    border-radius: 10px;
    background-color: var(--tag-bg-color);
}

.tag li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1em;
    margin-bottom: 5px;
    padding: .1em .3em;
    border-radius: 9em;
    font-size: 12px !important;
}

.tag li:nth-child(8n+1),
.tag li:nth-child(8n+1)>a,
.main-content .update .label1 {
    color: #1a98ff;
    background-color: rgba(26, 152, 255, .15);
}

.tag li:nth-child(8n+2),
.tag li:nth-child(8n+2)>a,
.main-content .update .label2 {
    color: #00ff22;
    background-color: rgba(51, 213, 122, .15);
}

.tag li:nth-child(8n+3),
.tag li:nth-child(8n+3)>a {
    color: #00dbff;
    background-color: rgba(0, 219, 255, .15);
}

.tag li:nth-child(8n+4),
.tag li:nth-child(8n+4)>a,
.main-content .update .label3 {
    color: #faea04;
    background-color: rgba(252, 236, 19, 0.055);

}

.tag li:nth-child(8n+5),
.tag li:nth-child(8n+5)>a,
.main-content .update .label4 {
    color: #9090ff;
    background-color: rgba(144, 144, 255, .15);
}

.tag li:nth-child(8n+6),
.tag li:nth-child(8n+6)>a,
.main-content .update .label5 {
    color: #ef0bf7;
    background-color: rgba(239, 11, 247, .15);
}

.tag li:nth-child(8n+7),
.tag li:nth-child(8n+7)>a,
.main-content .update .label6 {
    color: #ff4e6a;
    background-color: rgba(255, 78, 106, .15);
}

.tag li:nth-child(8n),
.tag li:nth-child(8n)>a,
.main-content .update .label7 {
    color: #ff761e;
    background-color: rgba(255, 118, 30, .15);
}

.rose {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 5px 5px;
    font-size: .9rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(1, 199, 248);
}

.rose li a {
    color: rgb(255, 255, 255);
}

/*RSS*/
.rsstag {
    width: 100%;
    text-align: center;
}

.rsstag .icon-rss,
.rsstag a {
    display: inline-block;
    text-align: center;
    padding: 0 7px;
    font-size: 16px;
    color: var(--rss-tag-color);
    text-shadow: 2px 2px 8px var(--rss-text-shadow),
        -2px -2px 8px var(--rss-text-shadow),
        0px 0px 10px var(--rss-text-shadow);
}



/* 控制器 */
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0rem;
    top: .5rem;
    z-index: 60;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    overflow: hidden;
    transition: left .5s ease;
    cursor: var(--cursor-a);
}

.closed {
    left: 9rem;
}

.menu-line {
    width: 2em;
    height: .2em;
    background-color: rgb(17, 238, 238);
    box-shadow: 0px 1px 5px var(--menu-line-box-shadow),
        1px 0px 5px var(--menu-line-box-shadow);
    margin: .1em auto;
}

.menu-btn .menu-line:nth-child(1) {
    transition: transform .5s ease-out;
}

.menu-btn .menu-line:nth-child(3) {
    transition: transform .5s ease-out;
}

.menu-btn .menu-line:nth-child(2) {
    transition: transform .5s ease .5s;
}

.closed .menu-line:nth-child(1) {
    transform: translateY(.84rem) rotate(765deg);
}

.closed .menu-line:nth-child(2) {
    transform: translateX(-3rem);
    transition-delay: 0s;
}

.closed .menu-line:nth-child(3) {
    transform: translateY(-.84rem) rotate(-765deg);
}

.main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.main .motto {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    background: url(../images/snowblue.png) repeat-x;
    background-position: bottom;
    overflow: hidden;
}

.main .motto p {
    color: var(--motto-color);
    text-shadow: 2px 2px 6px var(--motto-text-shadow),
        -2px -2px 6px var(--motto-text-shadow),
        0px 0px 16px var(--motto-text-shadow);
    margin-top: 10px;
    font-size: 1.3em;
    letter-spacing: .1em;
}

@keyframes closeMsg {
    0% {
        width: 340px;
    }

    60% {
        width: 340px;
        transform: rotateX(90deg);
    }

    100% {
        width: 0;
        transform: rotateX(90deg);
    }
}

.main .msg {
    display: none;
    position: fixed;
    right: 40px;
    top: 2rem;
    width: 340px;
    height: 130px;
    background-color: #393d409d;
    color: #fff;
    border-radius: 5px;
    border-right: 1.5px solid #ffff;
    border-bottom: 2px solid #ffff;
    backdrop-filter: blur(5px);
    pointer-events: none;
    z-index: 50;
}

.main .msg .msg-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    text-align: center;
}

@keyframes reduce {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.main .msg .msg-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

.msg-bar-active {
    animation: reduce 3s linear forwards;
}

.main .msg-show {
    display: block !important;
    animation: closeMsg .5s linear 3s forwards;
}



.main-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.set-wrapper {
    position: sticky;
    right: 10px;
    top: 0;
    z-index: 55;
}



.set-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    color: var(--set-menu-color);
}

.set-menu .set-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 100px;
    color: #fff;
    border-radius: 7px 0 0 7px;
    border: 2px solid var(--set-btn-border);
    background-color: var(--set-btn-bg-color);
    box-shadow: -2px 0 4px var(--set-btn-bg-color);
    transition: width .5s linear, height .5s linear .5s;
    backdrop-filter: blur(5px);
    cursor: var(--cursor-a);
}

.set-menu .set-btn-active {
    width: 260%;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #ffffff70;
    background-color: #ffffff33;
    box-shadow: -2px 0 4px #fff;
    transition: width .5s linear;
}

.set-menu>li {
    position: relative;
    top: 0;
    right: -200px;
    list-style: none;
    height: 28px;
    min-width: 70px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #ffffff60;
    background-color: #ffffff5e;
    backdrop-filter: blur(10px);
    border-radius: 0 0 0 3px;
    font-size: 13px;
    transition: width .3s linear;
    /* overflow: hidden; */
}

@keyframes set-menufly {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200px);
    }
}

.menu-active {
    animation: set-menufly .2s linear forwards;
}

.set-menu>li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    transition: width .2s linear;
}

.set-menu>li:nth-child(2) {
    width: 240%;
    animation-delay: .1s;
}

.set-menu>li:nth-child(3) {
    width: 220%;
    animation-delay: .2s;
    cursor: var(--cursor-a);
}

.set-menu>li:nth-child(4) {
    width: 200%;
    animation-delay: .3s;
}

.set-menu>li:nth-child(5) {
    width: 160%;
    animation-delay: .5s;
    cursor: var(--cursor-a);
}

.set-menu>li:nth-child(6) {
    width: 140%;
    animation-delay: .6s;
    cursor: var(--cursor-a);
}

.set-menu>li:hover {
    width: 240%;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.286);
}

.search-container {
    position: relative;
    top: 0;
    justify-content: flex-start !important;
}

.local-search {
    padding: 0 10px;
    height: 100%;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: none;
    color: #fff;
    background-color: transparent;
}

.forbidden {
    cursor: url(../images/forbidden.cur), not-allowed !important;
}

.local-search::placeholder {
    color: var(--set-menu-color);
}

.search-ico {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 13px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 3px solid #ffffffb8;
}

.search-ico::before {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -8px;
    width: 12px;
    height: 3px;
    background-color: #ffffffb8;
    transform: rotateZ(48deg);
}

#toggle-theme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .5s linear;
}

.sun {
    background-color: yellow;
}

.moon {
    background-color: transparent;
    box-shadow: 6px 6px 1px yellow;
    transform: translate(-6px, -8px);
}

.set-size {
    display: flex;
}

#increase-font-size,
#reduce-font-size {
    flex: 2;
    font-size: 30px;
    line-height: 24px;
    cursor: var(--cursor-a);
}

.font-size-num {
    flex: 1;
    font-size: 16px;
    line-height: 28px;
}


/*搜索结果*/
.result-container {
    position: sticky;
    top: 10px;
    left: 0;
    z-index: 40;
}

.display-result {
    width: 100%;
    max-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.77);
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.display-result .search-result-list {
    padding: 5px 15px;
    min-height: 200px;
}

.display-result .search-result-list .no-result {
    margin: 25px 30px;
}

.display-result::-webkit-scrollbar {
    width: 6px;
}

.display-result::-webkit-scrollbar-thumb {
    background: linear-gradient(#fbff00, #fc00ff);
    border-radius: 6px;
}

.display-result .result-info {
    margin: 15px 0 0 40px;
    font-size: 23px;
}

.display-result .result-info .result-num {
    padding: 0 10px;
    color: #ff9d00;
}

.display-result .search-result-list li {
    margin-top: 17px;
    padding: 10px 0;
    border-bottom: 2px dashed #82e1ff;
}

.display-result .search-result-list li a {
    color: #fff;
}

.display-result .search-result-title {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 20px;
    font-size: 20px;
    color: #05b4fc;
}

.display-result .search-result-title::before {
    content: '#';
    position: absolute;
    top: -6px;
    left: -21px;
    font-size: 24px;
    color: #00fcf8;
}

.display-result .search-result-list li .search-keyword {
    color: red;
}

/* 最新 */
.update {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 2px;
    padding-top: 2rem;
}

.update li {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 65%;
    min-height: 14em;
    margin: 20px auto;
    padding: 1.5rem 0px;
    overflow: hidden;
    transition: all .5s;
}

.update li::before,
.update li::after {
    content: '';
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.update li::before {
    top: 0;
    left: 0;
}

.update li::after {
    bottom: 0;
    right: 0;
}

.focus {
    border-radius: 5px;
    background-color: var(--update-bg-color);
    box-shadow: 16px 16px 1px var(--update-box-shadow);
    transform: translate(-10px, -10px);
    backdrop-filter: var(--update-li-blur);
}

.update .focus::before,
.update .focus::after {
    width: 100%;
    height: 100%;
}

.update .focus::before {
    border-top-color: var(--update-focus-border);
    border-right-color: var(--update-focus-border);
    transition: width .5s ease-out, height .5s ease-out .5s;
}

.update .focus::after {
    border-bottom-color: var(--update-focus-border);
    border-left-color: var(--update-focus-border);
    transition: width ease-out .5s, height .5s ease-out .5s;
}

.update li:nth-child(odd) {
    flex-direction: row;
}

.update li:nth-child(even) {
    flex-direction: row-reverse;
}

.update li:hover {
    box-shadow: -3px 2px 5px rgba(19, 2, 2, 0.527);
}

.update li .update-pic {
    position: relative;
    top: 0;
    left: 0;
    flex: 1;
    height: 100%;
    min-height: 18vh;
    overflow: hidden;
    transition: all .5s;
}

.update li .update-pic .pic-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 100%;
    color: #fff;
    text-shadow: 2px 2px 6px rgb(231, 34, 245);
    z-index: 10;
}

.update li .update-pic .pic-loading .load-line {
    position: absolute;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    border: 3px solid transparent;
    color: #fff;
    border-top-color: #31fd1e;
    animation: ringringring 2s linear infinite;
}

.update li .update-pic .pic-loading .load-line::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #eefd1e;
    animation: ringringring 3s linear infinite;
}

.update li .update-pic .pic-loading .load-line::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff00bf;
    animation: ringringring 1.5s linear infinite;
}

.update li:nth-child(2n) .update-pic .pic-loading .load-line {
    border-top-color: rgb(149, 0, 255);
}

.update li:nth-child(2n) .update-pic .pic-loading .load-line::before {
    border-top-color: rgb(255, 0, 102);
}

.update li:nth-child(2n) .update-pic .pic-loading .load-line::after {
    border-top-color: rgb(255, 255, 255);
}


@keyframes ringringring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.update li .update-pic a {
    display: block;
    text-align: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.update li .update-pic a img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.update li .update-content {
    padding: 0 .8rem;
    min-height: 50%;
    flex: 1;
    box-sizing: border-box;
}

.update li .update-content p {
    margin-top: 9px;
    color: var(--update-content-p);
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.update li .update-content h1 {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    color: var(--update-content-h1);
    font-size: 1.4rem;
}

.update li .update-content .content-line {
    width: 10%;
    height: 3px;
    margin: 1em 1em;
    background-color: #fff;
    transition: all .5s;
}

.update li .update-content .content-tag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.update li .update-content .content-label {
    padding: 0 6px;
}

.update li:hover .update-pic a img {
    max-width: 100%;
    max-height: 100%;
}

.update li:hover .update-content .content-line {
    width: 80%;
}

.right-menu {
    position: fixed;
    bottom: 0px;
    right: 10px;
    color: #fff;
    overflow: hidden;
    z-index: 30;
}


.back-top {
    display: block;
    font-size: 3rem !important;
    font-weight: 800;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #00c9fc;
}

@keyframes husky_running {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -708px 0;
    }
}

.husky {
    position: relative;
    bottom: 0px;
    right: -100px;
    height: 5rem;
    width: 6rem;
    background-image: url(../images/huskysprite10.png);
    background-repeat: no-repeat;
    animation: husky_running .6s steps(6) infinite;
    -webkit-animation: husky_running .6s steps(6) infinite;
}

.paginator {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 50px auto;
    font-size: 16px;
    text-align: center;
}

.page-number {
    display: inline-block;
    width: 40px;
    height: 20px;
    color: #fff;
    text-shadow: 2px 1px 3px #7fc7e4;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 4px;
}

.space {
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
}

.current {
    color: #fff;
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

.extend {
    font-size: 16px;
    text-align: center;
    color: rgb(255 255 255);
    margin-bottom: 3px;
    text-shadow: 2px 1px 3px #068bfd;
    text-decoration: none;
    margin: 0 5px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    margin-bottom: 20px;
    color: var(--info-color);
}

.info a {
    color: var(--info-color);
    text-decoration: underline;
}

.info .current-year {
    display: inline-block;
    min-width: 33px;
}

.info .timer {
    text-align: center;
}

.info .iconfont {
    padding: 0px 6px;
    font-size: 16px;
}

.info .icon-fanchuanzhuanhuan {
    color: #fad13f;
}

.info .icon-hexo_ {
    color: #49d9f9;
}

.info .icon-banquan {
    color: #f94984;
}

.info .icon-xukexieyi {
    color: #49f97b;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ededed;
}

::-webkit-scrollbar-thumb {
    background-color: #077eff;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #f014ae;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 5px;
}

@media screen and (max-width:1100px) {
    .update li {
        width: 75%;
    }
}

@media screen and (max-width:935px) {
    .update li {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .update li {
        flex-direction: column !important;
        width: 65%;
        height: auto !important;
    }

    /* .update li{
        position: relative;
        width: 65%;
        border: 1px solid red;
     }
     .update li .update-pic{
        width: 100%;
        height: 100%;
     }


     .update li .update-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #00000046;
     } */
}

@media screen and (max-width: 420px) {
    .nav {
        position: fixed;
        left: 0px;
        width: 65%;
        background: var(--nav-bg-mobile);
    }

    .nav::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 100%;
        height: 100vh;
        width: 100%;
        background-color: rgb(11, 2, 19, .7);
    }

    .label li {
        height: 6vh;
    }

    .label li:hover {
        width: 105%;
    }

    .dark .label li a {
        color: #53c6ff;
    }

    .closed {
        left: 52%;
    }

    .card {
        width: 80%;
        height: 25vh;
    }

    .head img {
        height: 14vh;
        width: 14vh;
        border-radius: 7vh;
    }

    .tag li {
        margin: .3em .1em;
        margin-bottom: 0px;
    }

    .rose {
        font-size: 1.2rem;
        margin: 0 0 5px 5px;

    }

    .main .msg {
        right: 20px;
        background-color: #000000a6;
        top: 3rem;
    }

    .focus {
        box-shadow: 14px 15px 1px var(--update-box-shadow);
    }

    .update li {
        width: 85%;
        height: auto !important;
        padding: .4rem 0px 1.4rem 0px;
    }

    .update li .update-pic {
        min-height: 18vh;
    }

    .update li .update-content h1 {
        font-size: 1.5rem;
    }

    .update li .update-content p {
        font-size: 1rem;
    }

    .update li .update-content .content-label {
        font-size: 1rem;
    }

    .back-top {
        margin-bottom: 10px;
    }
}