:root{
  --record-body-bg-color:#fff;
  --label-color:#000;
  --content-h3-color:#1d1d1d;
  --content-text-color:#3a3a38;
  --recommend-web-explain:#1d1d1d;
  --recommend-web-webs:#1d1d1d;
  --recommend-web-link:#000;
  --recommend-web-visited:#747d8c;

}
:root.dark-theme{
  --record-body-bg-color:#000;
  --label-color:#fff;
  --content-h3-color:#fff;
  --content-text-color:#9b9b9b;
  --recommend-web-explain:#50d5ff;
  --recommend-web-webs:#cacaca;
  --recommend-web-link:#5686d7;
  --recommend-web-visited:#646393;
}

* {
    margin: 0;
    padding: 0;
  }
  article,section,time,aside {
    display:block;
  }
  a,label{
    cursor: url(../images/link.cur),pointer;
  }
  body {
    width: 100vw;
    color: #9f9f9f;
    background-color: var(--record-body-bg-color);
    font-size: 1.16em;
    line-height: 1.16;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    overflow-x: hidden;
    cursor: url(../images/normal.cur),auto;
  }
  html{
    font-size: 14px;
  }
  @media screen and (min-width: 750px) {
    html {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 1100px) {
    html {
      font-size: 16px;
    }
  }
  p {
    margin: 0 !important;
    padding: 0 !important;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style:none;
  }
  .progress-bar{
    position: fixed;
    top:0px;
    left:0px;
    width: 0%;
    height: 10px;
    border-radius: 5px;
    background:linear-gradient(90deg,rgb(255, 6, 151) 0%,rgb(243, 219, 7) 10%,rgba(0,212,255,1) 55%);
    z-index: 5;
  }
  .progress-bar::before{
    content:'';
    position: absolute;
    top:5px;
    left:0;
    height:12px;
    width: 100%;
    background: linear-gradient(90deg,rgb(255, 6, 151) 0%,rgb(243, 219, 7) 10%,rgba(0,212,255,1) 55%);
    filter:blur(8px);
  }
  .emptyBox{
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
  }
input[type="radio"]{
    display: none;
}
label{
  position: relative;
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--label-color);
    font-size: 1rem;
    z-index: 1;   
}
label::before{
  box-sizing: border-box;
  content:'';
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition:width .2s ease-in;
}


#label1::before,#label1::after{
  background-color: rgb(9, 252, 50);
}
#label2::before,#label2::after{
  background-color: rgb(63, 247, 243);
}
#label3::before,#label3::after{
  background-color: rgb(248, 47, 215);
}
#label4::before,#label4::after{
  background-color: rgb(248, 47, 74);
}
label::after{
  box-sizing: border-box;
  content:'';
  position:absolute;
  bottom:0px;
  right:0;
  width:0px;
  height: 3px;
  background-color: rgb(9, 252, 50);
  z-index: -1;
 
  transition:width .2s ease-in;
}
#tab1:checked ~ #label1::after,
#tab2:checked ~ #label2::after,
#tab3:checked ~ #label3::after,
#tab4:checked ~ #label4::after{
  width: 100%;
}
#tab1:checked ~ #label1::before,
#tab2:checked ~ #label2::before,
#tab3:checked ~ #label3::before,
#tab4:checked ~ #label4::before{
  width: 0px;
}

#excerpt,#record,#recommend-web,#log{
    display: none;
}
#tab1:checked ~ #excerpt,
#tab2:checked ~ #record,
#tab3:checked ~ #recommend-web,
#tab4:checked ~ #log{
    display: grid;

}
  .back-home{
    position: relative;
    display: inline-block;
    width: 6rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2.5rem;
    height: 2.5rem;
    color:var(--label-color);
    text-decoration: none;
  }
  .back-home::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 3px;
    background-color: slateblue;
  }
  .point-time {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 17px;
    left: 20%;
    background: #1c87bf;
    margin-left: -4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
  }
  
  .text-color1 {
    color: #ff3838;
  }
  .text-color2 {
    color: #fff200;
  }
  .text-color3 {
    color: #32ff7e;
  }
  .text-color4 {
    color: #18dcff;
  }
  .text-color5{
    color: #7d5fff;
  }
  .text-color6{
    color: #e056fd;
  }
  .text-color7{
    color: #0ae427;
  }
  .text-color8{
    color: #ff47a3;
  }


  .point-color1 {
    background-color: #ff3838;
  }
  .point-color2 {
    background-color: #ffd000;
  }
  .point-color3 {
    background-color: #32ff7e;
  } 
  .point-color4 {
    background-color: #18dcff;
  }
  .point-color5{
    background-color: #7d5fff;
  }
  .point-color6{
    background-color: #e056fd;
  }
  .point-color7{
    background-color: #05ce0f;
  }
  .point-color8{
    background-color: #ff47a3;
  }
  .content {
    box-sizing: border-box;
    width: 60%;
    margin: 4vh auto;
    overflow: hidden;
  }
  .content article {
    position: relative;
    
  }
  .content article > h3 {
    width: 80%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-size: 1.1em;
    color: var(--content-h3-color);
    padding: 10px 0 20px;
  }
  .content article section {
    padding: 0 7px 17px;
    position: relative;
  
  }
  .content article section:before {
    content: "";
    width: 5px;
    top: 17px;
    bottom: -17px;
    left: 20%;
    background: #e6e6e6;
    position: absolute;
    
  }
  .content article section:last-child:before {
    display: none;
  }
  .content article section time {
    width: 15%;
    display: block;
    position: absolute;
  
  }
  .content article section time > span {
    display: block;
    text-align: right;
  }
  .content article section aside {
    color: var(--content-text-color);
    margin-left: 25%;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .content article section .details{
    line-height: 1.6em;
    white-space: pre-line;
  }
  .content article section .brief {
    margin-top: 10px;
    color: #9f9f9f;
  }
  .content article section .details>.append,
  .content article section .details>.remove,
  .content article section .details>.modify,
  .content article section .details>.repair{
    position: relative;
    margin-left: 20px;
  }
  .content article section .details>.append{
    color: #18dcff;
  }
  .details>.append::before{
    content: '+';
    position: absolute;
    top: -2px;
    left: -20px;
    font-size: 25px;
    color: #18dcff;
  }
  .content article section .details>.remove{
    color: #fa0a0a;
  }
  .details>.remove::before{
    content: '-';
    position: absolute;
    top: -2px;
    left: -17px;
    font-size: 25px;
    color: #fa0a0a;
  }
  .content article section .details>.modify{
    color: #02fa4d;
  }
  .details>.modify::before{
    content:'%';
    position: absolute;
    top: 0;
    left: -19px;
    font-size: 19px;
    color: #02fa4d;
  }
  .content article section .details>.repair{
    color: #fac002;
  }
  .details>.repair::before{
    content:'#';
    position: absolute;
    top: -2px;
    left: -17px;
    font-size: 20px;
    color: #fac002;
  }
  #recommend-web .explain{
    color:var(--recommend-web-explain);
    text-align: center;
    font-size: 1rem;
  }
  #recommend-web .webs{
    box-sizing: border-box;
    margin: 15px 0px;
    color:var( --recommend-web-webs);
  }
#recommend-web .webs>h4{
    color:#1e90ff;
    width: fit-content;
}
#recommend-web .webs>h4:hover{
  transition: transform .5s ease;
  transform: translateX(5px);
}
#recommend-web .webs>h4::before{
  content:'#';
  color:#ffa502;
  font-size: 25px;
  margin: 0 8px;
}
#recommend-web .webs li{
  margin-top: 4vh;
  margin-left: 20px;
  font-size: 1.2rem;
}
#recommend-web .webs li::before{
  content:'';
  color:#fa37d9;
  font-size: 1.3rem;
  font-weight: 900;
}

#recommend-web .webs li a:link{
  color:var(--recommend-web-link);
}
#recommend-web .webs li a:visited{
  color:var(--recommend-web-visited);
}
a:hover{color:#1e90ff;}

#recommend-web .webs li h5{
  display: block;
  margin-bottom: 5px;
}
#recommend-web .webs li p{
  line-height: 1.4rem;
  font-size: .9rem;
}
#recommend-web .webs li a{
  width: 100% !important;
  display: block;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;

}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track-piece{
  background-color: #ededed;
}
::-webkit-scrollbar-thumb {
  background:linear-gradient(#01d9ff,#01ff5e);
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  .content{
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  .content{
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .content{
    width: 90%;
  }
}

  @media screen and (max-width: 420px){
    label{
      width: 4.3rem;
      font-size: 1.2rem;
    }
    .back-home{
      width: 4.3rem;
      font-size: 1.2rem;
    }
    .content{
      width: 100%;
    }
    #recommend-web .webs li h5{
      font-size: 1.2rem;
    }
    #recommend-web .webs li p{
      line-height: 1.8rem;
      font-size: 1.1rem;
    }
    #recommend-web .webs li a{
      margin:5px auto;
    }
  }